# ---> editorconfig, node, composer, os
.editorconfig
.DS_Store
Thumbs.db

# ---> dependencies
node_modules/
vendor/

# ---> build artifacts
dist/
*.zip
*.log
npm-debug.log*

# ---> IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# ---> WordPress
wp-config.php
