<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"4rem","bottom":"4rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:4rem;padding-bottom:4rem">
	<!-- wp:heading {"level":1,"style":{"typography":{"fontFamily":"var:preset|font-family|display","fontSize":"var:preset|font-size|xx-large","textTransform":"uppercase"}}} -->
	<h1 class="wp-block-heading" style="font-family:var(--wp--preset--font-family--display);font-size:var(--wp--preset--font-size--xx-large);text-transform:uppercase">Search results</h1>
	<!-- /wp:heading -->
	<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","buttonPosition":"button-inside"} /-->
	<!-- wp:query {"queryId":3,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"relevance","inherit":true},"layout":{"type":"constrained"}} -->
	<div class="wp-block-query">
		<!-- wp:post-template {"layout":{"type":"default"}} -->
			<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontFamily":"var:preset|font-family|display","textTransform":"uppercase"}}} /-->
			<!-- wp:post-excerpt {"moreText":"Keep reading"} /-->
			<!-- wp:separator {"backgroundColor":"smoke"} -->
			<hr class="wp-block-separator has-text-color has-smoke-color has-alpha-channel-opacity has-smoke-background-color has-background"/>
			<!-- /wp:separator -->
		<!-- /wp:post-template -->
		<!-- wp:query-no-results -->
			<!-- wp:paragraph {"align":"center"} -->
			<p class="has-text-align-center">No results found. Try a different search.</p>
			<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
